{% load static %}
{% load social_extras %}
<!-- Report reply modal -->
<div class="modal fade" id="reportReply{{ reply.id}}Modal" tabindex="-1" aria-labelledby="reportReply{{ reply.id}}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="reportReply{{ reply.id }}ModalLabel">Report Reply</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Would you like to report this reply? This reply will be automatically hidden from all users if you are the author of the parent post.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a href="{% url 'report_reply' reply.id %}"><button type="button" class="btn btn-danger">Yes</button></a>
            </div>
        </div>
    </div>
</div>
<!-- Report reply modal ends -->
<div class="reply-container">
    <!-- Reply user and date info -->
    <div class="reply-header">
        <a href="{% url 'user' reply.user %}">
            {% if reply.user.avatar %}
            <img src="{{ reply.user.avatar.url }}" class="avatar-small" alt="{{ reply.user }}'s avatar">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" class="avatar-small" alt="{{ reply.user }}'s avatar">
            {% endif %}
        </a>
        <div>
            <div>
                <a href="{% url 'user' reply.user %}" class="user-link">
                    <strong>{{ reply.user.name }}</strong>
                    {% if reply.user.verified %}
                    <i class="fa-solid fa-square-check verified"></i>
                    {% endif %}
                    ~{{ reply.user }}
                </a>
            </div>
            {% if reply.time_check %}
            <span class="timesince small-span">{{ reply.date | timesince | upto:',' }} ago</span>
            {% else %}
            <span class="small-span">{{ reply.date | date:'M d, Y' }}</span>
            {% endif %}
        </div>
    </div> 
    <!-- Reply user and date info ends -->
    <!-- Reply bubble -->
    <div class="reply">
        {% if reply.hidden %}
        <div class="alert alert-danger" role="alert">
            This reply has been hidden by ~{{ reply.post.user }}.
        </div>
        {% endif %}
        <span class="post-body">{{ reply.reply }}</span>
        <!-- Reply buttons -->
        <div class="reply-menu">
            {% if request.user != reply.user %}
            <button type="button" class="hide-btn" data-bs-toggle="modal" data-bs-target="#reportReply{{ reply.id }}Modal" aria-label="report reply {{ reply.id }} button">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </button>
            {% endif %}
            {% if request.user == reply.user %}
            <a href="{% url 'edit_reply' reply.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            {% endif %}
            {% if '/p/' not in request.path %}
            <a href="{% url 'post' reply.post.id %}">Parent Post</a>
            {% endif %}
        </div>
        <!-- Reply buttons -->
    </div>
    <!-- Reply bubble ends -->
</div>