{% extends 'base.html' %}
{% load static %}

{% block title %}
Search
{% endblock %}

{% block content %}
{% if not query %}
<h2>Search Squigl...</h2>
{% else %}
<h2>Search results for: {{ query }}</h2>
{% endif %}
<hr>
{% if not query %}
<!-- Search input -->
<form method="POST" action="{% url 'search' %}">
    {% csrf_token %}
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="What do you want to search for?" aria-label="Search"
            aria-describedby="addon-wrapping" name="query">
        <button class="input-group-text" id="addon-wrapping" aria-label="Search Button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</form>
{% else %}
<!-- Search input ends -->
<!-- Search navigation -->
<ul class="nav nav-pills mb-3" id="nav-pills-tab" role="tablist">
    {% if users.count > 0 %}
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users"
            type="button" role="tab" aria-controls="pills-users" aria-selected="true">Users <span class="badge text-bg-danger">{{ users.count }}</span></button>
    </li>
    {% endif %}
    {% if posts.count > 0 %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if not users %}active{% endif %}" id="pills-posts-tab" data-bs-toggle="pill" data-bs-target="#pills-posts"
            type="button" role="tab" aria-controls="pills-posts" aria-selected="false">Posts <span class="badge text-bg-danger">{{ posts.count }}</span></button>
    </li>
    {% endif %}
    {% if replies.count > 0 %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if not users and not posts %}active{% endif %}" id="pills-replies-tab" data-bs-toggle="pill" data-bs-target="#pills-replies"
            type="button" role="tab" aria-controls="pills-replies" aria-selected="false">Replies <span class="badge text-bg-danger">{{ replies.count }}</span></button>
    </li>
    {% endif %}
</ul>
<!-- Search navigation ends -->
<div class="tab-content" id="pills-tabContent">
    <!-- Results - users -->
    <div class="tab-pane fade show active" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" tabindex="0">
        {% for user in users %}
        <!-- User profile card -->
        <a href="{% url 'user' user %}" class="user-link">            
            <div class="user-background user-search-div" {% if user.profile_background %}style="background-image: url('{{ user.profile_background.url }}');"{% endif %}>
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="avatar-search">
                {% else %}
                <img src="{% static 'images/avatar.jpg' %}" class="avatar-search">
                {% endif %}
                <div class="user-search-text">
                    ~{{ user }}<br>
                    <h4>
                        {{ user.name }}
                        {% if user.verified %}
                        <i class="fa-solid fa-square-check verified"></i>
                        {% endif %}
                    </h4>
                </div>
            </div>
        </a>
        <!-- User profile card ends -->
        {% endfor %}
    </div>
    <!-- Results - users ends -->
    <!-- Results - posts -->
    <div class="tab-pane fade {% if not users %}show active{% endif %}" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab" tabindex="0">
        {% for post in posts %}
        {% include 'templates/post-template.html' %}
        {% endfor %}
    </div>
    <!-- Results - posts ends -->
    <!-- Results - replies -->
    <div class="tab-pane fade {% if not users and not posts %}show active{% endif %}" id="pills-replies" role="tabpanel" aria-labelledby="pills-replies-tab" tabindex="0">
        {% for reply in replies %}
        {% include 'templates/reply-template.html' %}
        {% endfor %}
    </div>
    <!-- Results - replies ends -->
</div>
{% endif %}
{% endblock %}

{% block rightsidebar %}
{% include 'side/hashtags-side-template.html' %}
{% include 'side/users-side-template.html' %}
{% endblock %}