{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%}
Settings
{%endblock%}

{%block content%}
<!-- Delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently delete your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form method="POST" action="{% url 'delete_account' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes</button></>
                </form>                
            </div>
        </div>
    </div>
</div>
<!-- Delete modal ends -->
<h2>Settings</h2>
<hr>
{% if request.user.id == user.id %}
<form method="POST">
    {{ form | crispy }}
    {% csrf_token %}
    <button class="btn btn-dark" type="submit">Save changes</button>
    <a href="{% url 'password' %}" class="btn-link">
        <button type="button" class="btn btn-dark">
            Change Password
        </button>
    </a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete Account
    </button>   
</form>
{% else %}
<div class="alert alert-warning" role="alert">
    You do not have permission to edit this user's settings.
</div>
<button type="button" class="btn btn-secondary" onclick="javascript:history.back()">
    Go back
</button>
{% endif %}
{% endblock %}

{% block rightsidebar %}
{% include 'side/hashtags-side-template.html' %}
{% include 'side/users-side-template.html' %}
{% endblock %}