@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');

/* ----------------------------------------------------- Text, Headings, Links */

h1, h4, h5 {
    font-family: 'IBM Plex Sans';
    font-weight: bold;
}

.small-span {
    font-size: 12px;
}

.verified {
    color: goldenrod;
}

.user-link {
    text-decoration: none;
    color: #212529;
}

.user-link:hover{
    color: #3b434b;
}

.btn-link {
    text-decoration: none;
}

/* ----------------------------------------------------- Usertags and hashtags */

.user-tag {
    text-decoration: none;
    font-weight: bold;
    color: #640023;
}

.hash-form {
    display: inline;
}

.hash-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-weight: bold;
    color: #56008b;
    cursor: pointer;
}

/* ----------------------------------------------------- Avatars */

.avatar-xl {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid white 4px;
    position: absolute;
    left: 20px;
    top: 125px;
    background-color: white;
}

.avatar-large {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 10px;
}

.avatar-medium {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.avatar-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-xs {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}

.avatar-search {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    border: solid white 4px;    
    background-color: white;
}

/* ----------------------------------------------------- Header */

.header-row {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: end;
    text-align: right;
}

header a {
    text-decoration: none;
    color: #212529;
}

header a:hover {
    color: #3b434b;
}

/* ----------------------------------------------------- Left Sidebar Navigation */

.nav-link {
    margin-bottom: 4px;
    color: #212529;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}

.menu-active {
    background-color: #212529 !important;
    color: white;
}

#feed-link {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.nav-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ----------------------------------------------------- Page navigation */

.page-nav {
    display: flex;
    justify-content: space-between;
}

.page-nav span {
    width: 30%;
}

.page-nav span:nth-child(2) {
    text-align: center;
}

.page-nav span:nth-child(3) {
    text-align: right;
}

/* ----------------------------------------------------- Search */

.user-search-container {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    padding: 0 25px 0 25px;
    justify-content: space-between;
}

.user-search-text {
    background-color: #212529;
    color: white;
    padding: 16px;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
}

#search-pills-tab li button {
    gap: 16px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-pills-tab li .active {
    background-color: #212529 !important;
}

/* ----------------------------------------------------- Main Content Row */

.content-row {
    display: flex;
    justify-content: space-between;
}

/* ----------------------------------------------------- Posts */

.post-card {
    width: 100%;
    margin-bottom: 25px;
}

.post-header {
    margin-bottom: 10px;
}

.post-permalink {
    color: #212529;
}

.post-permalink:hover {
    color: #3b434b;
}

.avatar-col {
    padding: 0 0 0 6px;
}

.post-col {
    padding-left: 25px;
}

.post-link {
    color: #212529;
    font-weight: bold;
}

.post-link:hover {
    color: #3b434b;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.dropdown-item i {
    color: #212529;
    width: 20%;
    text-align: center;
}

.like-link {
    cursor: pointer;
}

.like-heart {
    color: hotpink;
}

.replied-bubble {
    color: #0e60cc;
}

.footer-link {
    text-decoration: none;
}

.footer-num,
.footer-icon {
    color: #212529;
}

/* ----------------------------------------------------- Replies */

.reply-container {
    margin-bottom: 30px;
}

.reply-user-info {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 4px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.reply-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.reply,
.reply-form {
	position: relative;
    width: 100%;
    padding: 20px;
	background-color: #f8f8f8;
	border-radius: 5px;
    box-shadow: 0 0 0 1px #d1d1d1;
}

.reply::before,
.reply-form::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #f8f8f8;
	filter: drop-shadow(0 -1px 1px #d1d1d1);
}

.reply::before {
    left: 17px;
}

.reply-form::before {
    right: 25px;
}

.reply-form {
    margin-bottom: 20px;
}

label[for=id_reply] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.reply-input {
    background-color: #f8f8f8;
    border: none;
    padding-left: 0;
}

.reply-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 3px;
}

.reply-menu a {
    text-decoration: none;
    color: #d1d1d1;
}

.hide-btn {
    background: none;
    border: none;
    color: #d1d1d1;
    padding: 0;
}

/* ----------------------------------------------------- Repost */

.repost {
    background-color: #00000008;
    font-size: small;
    margin-bottom: 0;
}

.repost-header {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

/* ----------------------------------------------------- User */

.user-card {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.user-background {
    height: 200px;
    background-color: #f8f8f8;
}

.user-buttons {
    height: 75px;
    text-align: right;
}

#follow-btn {
    width: 100px;
}

.nav-tabs {
    border-color: #f8f8f8;
    border-bottom: none;
    margin-left: 5px;
}

/* ----------------------------------------------------- Feed */

.sidebar-card {
    margin-bottom: 30px;
}

.sidebar-card li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-card li a {
    display: flex;
    gap: 10px;
}

.wtf-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hidden-posts {
    display: none;
}

/* ----------------------------------------------------- Mentions */

.mentions-ul {
    display: flex;
    justify-content: space-between;
}

.mentions-menu {
    display: flex;
}

.read-btn {
    margin-right: 0 !important;
}

/* ----------------------------------------------------- Moderation */

.mod-section {
    margin-bottom: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 10px;
}

td {
    vertical-align: middle;
}

th:hover {
    color: #0e60cc;
    text-decoration: underline;
}
