{% load social_extras %}
{% recent_hashtags as recent_hashtags %}
<!-- Posts with hashtags (hidden) -->
<div id="hidden-posts">
    {% for tag in recent_hashtags %}
    <div class="hidden-post post-body">{{ tag.post }}</div>
    {% endfor %}
</div>
<!-- Posts with hashtags (hidden) ends -->
<!-- Trending hashtags -->
<div class="card sidebar-card">
    <div class="card-header">
        <h5>Trending Hashtags</h5>
        <span class="side-desc">Recent popular hashtags ranked by count. Longer hashtags may appear shortened.</span>
    </div>
    <ul id="trending-ul" class="list-group list-group-flush">
    </ul>
</div>
<!-- Trending hashtags ends -->