{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons ends -->
    <title>{% block title %}{% endblock %} - Squigl</title>
</head>

<body>
    <!-- Container -->
    <div class="container">
        <!-- Header -->
        <header>
            <div class="row header-row">
                <!-- Title -->
                <div class="col-2">
                    <a href="{% url 'home' %}"><h1>Squigl <i class="fa-solid fa-comments"></i></a>
                </div>
                <!-- Title ends -->
                <!-- Search -->
                <div class="col-6">
                    <form method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" placeholder="Explore Squigl" aria-label="Search"
                                aria-describedby="addon-wrapping" name="query">
                            <button class="input-group-text" id="addon-wrapping">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Search ends -->
                <!-- User info -->
                <div class="col-3 user-info">
                    {% if request.user.is_authenticated %}
                    <div>
                        <h5><a href="{% url 'user' request.user %}">~{{ request.user }}</a></h5>
                        <h4>
                            <a href="{% url 'user' request.user %}">
                                {{ request.user.name }}
                                {% if user.verified %}
                                <i class="fa-solid fa-square-check verified"></i>
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    {% if request.user.avatar %}
                    <a href="{% url 'user' request.user %}"><img src="{{ request.user.avatar.url }}" class="avatar-large"></a>
                    {% else %}
                    <a href="{% url 'user' request.user %}"><img src="{% static 'images/avatar.jpg' %}" class="avatar-large"></a>
                    {% endif %}
                    {% endif %}
                </div>
                <!-- User info ends -->
            </div>
        </header>
        <!-- Header ends -->
        <!-- Main content row -->
        <div class="row content-row">
            <!-- Right nav sidebar -->
            <div class="col-2">
                <nav class="nav flex-column nav-pills">
                    {% if request.user.is_authenticated %}
                    {% if '/feed/' in request.path %}
                    <a class="nav-link menu-active" href="{% url 'feed' %}" id="feed-link">Refresh Feed <i id="feed-icon" class="fa-solid fa-arrows-rotate"></i></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'feed' %}">Feed</a>
                    {% endif %}                    
                    <a class="nav-link {% if request.user.username in request.path %}menu-active{% endif %}" href="{% url 'user' request.user %}">My Page</a>
                    <a class="nav-link {% if '/new-post/' in request.path %}menu-active{% endif %}" href="{% url 'new_post' %}">New Post</a>
                    <a class="nav-link {% if '/mentions/' in request.path %}menu-active{% endif %} nav-badge" href="{% url 'mentions' %}">Mentions <span class="badge text-bg-danger">NYI</span></a>
                    <a class="nav-link" href="#">Messages (NYI)</a>
                    <a class="nav-link {% if '/accounts/settings' in request.path %}menu-active{% endif %}" href="{% url 'settings' request.user.id %}">Settings</a>
                    <a class="nav-link {% if '/about/' in request.path %}menu-active{% endif %}" href="">About Squigl (NYI)</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-link {% if '/login/' in request.path %}menu-active{% endif %}" href="{% url 'login' %}">Login</a>
                    <a class="nav-link {% if '/signup/' in request.path %}menu-active{% endif %}" href="{% url 'signup' %}">Sign Up</a>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <hr>
                    <a class="nav-link" href="{% url 'admin:index' %}">Django Admin</a>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <a class="nav-link {% if '/mod/' in request.path %}menu-active{% endif %}" href="{% url 'moderation' %}">Moderation</a>
                    {% endif %}
                </nav>
            </div>
            <!-- Right nav sidebar ends -->
            <!-- Main block -->
            <div class="col-6">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-3">
                {% block rightsidebar %}
                {% endblock %}
            </div>
            <!-- Main block ends -->
        </div>
        <!-- Main content row ends -->
    </div>
    <!-- Container ends -->
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9446ef5fe5.js" crossorigin="anonymous"></script>
    <script>
        // Turns '~text' into profile links
        $('.post-body').each(function () {
            html = $(this).html();
            $(this).html(html.replace(/~(\w+)/g, '<a href="{% url 'user' '$1' %}" class="user-tag">~$1</a>'));
        });
        // Turns '#text' into search links
        $('.post-body').each(function () {
            html = $(this).html();
            $(this).html(html.replace(/#(\w+)/g, '<form class="hash-form" method="POST" action="{% url 'search' %}">{% csrf_token %}<button class="hash-button" type="submit" value="$1" name="query">#$1</button></form>'));
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        // Turns '#text' into search links (repeated for trending hashtags section)
        $('.hashtag-li').each(function () {
            html = $(this).html();
            $(this).html(html.replace(/#(\w+)/g, '<form class="hash-form" method="POST" action="{% url 'search' %}">{% csrf_token %}<button class="hash-button" type="submit" value="$1" name="query">#$1</button></form>'));
        });
    </script>
    <!-- Scripts end -->
</body>

</html>