{% load static %}
<!-- Delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this message?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a href="{% url 'delete_message' message.id %}"><button type="button" class="btn btn-danger">Yes</button></a>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal ends -->
<!-- Message -->
<div class="card message-card">
    <div class="card-header message-header">
        {% if request.user != message.sender %}
        <a href="{% url 'user' message.sender %}">
            {% if message.sender.avatar %}
            <img src="{{ message.sender.avatar.url }}" class="avatar-small">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" class="avatar-small">
            {% endif %}
        </a>
        <div>
            <div>
                <a href="{% url 'user' message.sender %}" class="user-link">
                    <strong>{{ message.sender.name }}</strong>
                    {% if message.sender.verified %}
                    <i class="fa-solid fa-square-check verified"></i>
                    {% endif %}
                    ~{{ message.sender }}
                </a>
            </div>            
            <span class="small-span">{{ message.date | date:'M d, Y' }}</span>
        </div>
        {% else %}
        <a href="{% url 'user' message.recipient %}">
            {% if message.recipient.avatar %}
            <img src="{{ message.recipient.avatar.url }}" class="avatar-small">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" class="avatar-small">
            {% endif %}
        </a>
        <div>
            <div>
                <a href="{% url 'user' message.recipient %}" class="user-link">
                    <strong>{{ message.recipient.name }}</strong>
                    {% if message.recipient.verified %}
                    <i class="fa-solid fa-square-check verified"></i>
                    {% endif %}
                    ~{{ message.recipient }}
                </a>
            </div>            
            <span class="small-span">{{ message.date | date:'M d, Y' }}</span>
        </div>
        {% endif %}
    </div>
    <div class="card-body">
        <p class="card-text">{{ message.message | linebreaksbr }}</p>
        <div class="message-btns">
            {% if request.user == message.recipient %}
            {% if not message.read %}
            <a href="{% url 'mark_read' message.id %}" class="btn btn-dark">Mark Read</a>
            {% endif %}            
            <a href="#" class="btn btn-dark">Reply</a>
            <a href="#" class="btn btn-warning">Report</a>
            {% endif %}
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
            </button>
        </div>        
    </div>
</div>
<!-- Message ends -->