{% extends 'base.html' %}

{% block title %}
Moderation
{% endblock %}

{% block content %}

<p>You can sort the tables by clicking on the column headers.</p>
<hr>

<!-- Reported posts -->
{% if reported_posts %}
{% for post in reported_posts %}
<!-- View post modal -->
<div class="modal fade" id="view{{ post.id }}Modal" tabindex="-1" aria-labelledby="view{{ post.id }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="view{{ post.id }}ModalLabel">Viewing post #{{ post.id }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a href="{% url 'user' post.user %}" class="user-link"><strong>~{{ post.user }}</strong></a>
                <span class="text-muted"> · {{ post.date | date:'M d, Y' }}</span>
                <p class="post-body">{{ post.post | linebreaksbr }}</p>
                <hr>
                <p class="text-muted">
                    Number of posts and replies from <a href="{% url 'user' post.user %}" class="user-link"><strong>~{{ post.user }}</strong></a>
                    that have been removed by Squigl moderators: <strong>{{ post.user.mod_deleted }}</strong>
                </p>
            </div> 
            <div class="modal-footer">                          
                <a href="{% url 'mod_post_okay' post.id %}"><button class="btn btn-success">Post Is Okay</button></a>
                <a href="{% url 'mod_delete_post' post.id %}"><button class="btn btn-warning">Delete Post</button></a>
                <button class="btn btn-danger">Ban User (NYI)</button>
            </div>
        </div>
    </div>
</div>
<!-- View post modal ends -->
{% endfor %}
<div class="mod-section">
    <h2>Reported Posts</h2>
    <hr>
    <table class="table">
        <tr>
            <th>User</th>
            <th>Post Link</th>
            <th>Reports</th>
            <th></th>
        </tr>
        {% for post in reported_posts %}
        <tr>
            <td><a href="{% url 'user' post.user %}" class="user-link"><strong>~{{ post.user }}</strong></a></td>
            <td><a href="{% url 'post' post.id %}">Link</a></td>
            <td>{{ post.reported_count }}</td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#view{{ post.id }}Modal">
                    View
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="alert alert-secondary" role="alert">
    There are no reported posts.
</div>
{% endif %}
<!-- Reported posts ends -->

<!-- Reported replies -->
{% if reported_replies %}
{% for reply in reported_replies %}
<!-- View reply modal -->
<div class="modal fade" id="view{{ reply.id }}Modal" tabindex="-1" aria-labelledby="view{{ reply.id }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="view{{ reply.id }}ModalLabel">Viewing reply #{{ reply.id }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>Parent Post:</strong>
                <p class="post-body">{{ reply.post.post }}</p>
                <a href="{% url 'user' reply.user %}" class="user-link"><strong>~{{ reply.user }}</strong></a>
                <span class="text-muted"> · {{ reply.date | date:'M d, Y' }}</span>
                <p class="post-body">{{ reply.reply }}</p>
                <hr>
                <p class="text-muted">
                    Number of posts and replies from <a href="{% url 'user' reply.user %}" class="user-link"><strong>~{{ reply.user }}</strong></a>
                    that have been removed by Squigl moderators: <strong>{{ reply.user.mod_deleted }}</strong>
                </p>
            </div> 
            <div class="modal-footer">
                <a href="{% url 'mod_reply_okay' reply.id %}"><button class="btn btn-success">Reply Is Okay</button></a>
                <a href="{% url 'mod_delete_reply' reply.id %}"><button class="btn btn-warning">Delete Reply</button></a> 
                <button class="btn btn-danger">Ban User (NYI)</button>
            </div>
        </div>
    </div>
</div>
<!-- View reply modal ends -->
{% endfor %}
<div class="mod-section">
    <h2>Reported Replies</h2>
    <hr>
    <table class="table">
        <tr>
            <th>User</th>
            <th>Post Link</th>
            <th>Reports</th>
            <th></th>
        </tr>
        {% for reply in reported_replies %}
        <tr>
            <td><a href="{% url 'user' reply.user %}" class="user-link"><strong>~{{ reply.user }}</strong></a></td>
            <td><a href="{% url 'post' reply.post.id %}">Link</a></td>
            <td>{{ reply.reported_count }}</td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#view{{ reply.id }}Modal">
                    View
                </button>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>
{% else %}
<div class="alert alert-secondary" role="alert">
    There are no reported replies.
</div>
{% endif %}
<!-- Reported replies ends -->

<!-- Banned users -->
{% if banned_users %}
<div class="mod-section">
    <h2>Banned Users</h2>
    <hr>
</div>
{% else %}
<div class="alert alert-secondary" role="alert">
    There are no banned users.
</div>
{% endif %}
<!-- Banned users ends -->

{% endblock %}