{% load static %}
<!-- Post -->
<div class="card post-card">
    <div class="card-body">
        <div class="row">
            <div class="col-1 avatar-col">
                <!-- Post author avatar -->
                <a href="{% url 'user' post.user %}">
                    {% if post.user.avatar %}
                    <img src="{{ post.user.avatar.url }}" class="post-avatar">
                    {% else %}
                    <img src="{% static 'images/avatar.jpg' %}" class="post-avatar">
                    {% endif %}
                </a>
                <!-- Post author avatar ends -->
            </div>
            <div class="col-11 post-col">
                <!-- Post author and date -->
                <div class="post-header">
                    <a href="{% url 'user' post.user %}" class="user-link">
                        <strong>{{ post.user.display_name }}</strong>
                        {% if post.user.verified %}
                        <i class="fa-solid fa-square-check verified"></i>
                        {% endif %}
                        <span>~{{ post.user }}</span>
                    </a>
                    <span> · <a href="{% url 'post' post.id %}" class="post-permalink">{{ post.date | date:'M d, Y' }}</a></span>
                </div>
                <!-- Post author and date ends -->
                <!-- Post body, image and link -->
                <p>{{ post.post | linebreaksbr }}</p>
                {% if post.link %}
                <p><i class="fa-solid fa-link"></i> <a href="{{ post.link }}" class="post-link">{{ post.link }}</a></p>
                {% endif %}
                {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img">
                {% endif %}
                <!-- Post body, image and link ends -->
            </div>
        </div>
    </div>    
    <!-- Post footer -->
    <div class="card-footer">
        <!-- Reply -->
        <span><i class="fa-regular fa-comment"></i> {{ post.reply_count }}</span>
        <!-- Reply ends -->
        <!-- Like -->
        <span><i class="fa-regular fa-heart"></i> {{ post.like_count }}</span>
        <!-- Like ends -->
        <!-- Repost -->
        <span><i class="fa-solid fa-retweet"></i> 107</span>
        <!-- Repost ends -->
        <!-- Footer menu -->
        <div class="btn-group dropup">
            <button class="btn btn-sm post-menu-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                {% if request.user == post.user %}
                <li>
                    <a class="dropdown-item" href="{% url 'edit_post' post.id %}">
                        <i class="fa-solid fa-pen-to-square"></i> Edit | Delete
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-triangle-exclamation"></i> Report (NYI)
                    </a>
                </li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="{% url 'post' post.id %}">
                        <i class="fa-solid fa-link"></i> Permalink
                    </a>
                </li>
            </ul>
        </div>
        <!-- Footer menu ends -->
    </div>
    <!-- Post footer ends -->
</div>
<!-- Post ends -->