{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Post: {{ post.id }}
{% endblock %}

{% block content %}
{% include 'post-template.html' %}
<!-- Replies -->
{% if request.user.is_authenticated %}
<div class="reply-container">
    <!-- User info -->
    <div class="reply-header">
        <a href="{% url 'user' request.user %}">
            {% if request.user.avatar %}
            <img src="{{ request.user.avatar.url }}" class="reply-avatar">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" class="reply-avatar">
            {% endif %}
        </a>
        <div>
            <a href="{% url 'user' request.user %}" class="user-link">
                <strong>{{ request.user.display_name }}</strong>
                {% if request.user.verified %}
                <i class="fa-solid fa-square-check verified"></i>
                {% endif %}
                ~{{ request.user }}
            </a>    
        </div>
    </div> 
    <!-- User info ends -->
    <!-- Reply form -->
    <form method="POST" enctype="multipart/form-data" class="reply-form">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-dark" type="submit">Reply</button>
    </form>     
    <!-- Reply form ends -->
</div>   
{% else %}
<p><a href="{% url 'login' %}">Login</a> if you want to reply to this post.</p>
{% endif %}
{% if replies %}
{% for reply in replies %}
<div class="reply-container">
    <!-- Reply user and date info -->
    <div class="reply-header">
        <a href="{% url 'user' reply.user %}">
            {% if reply.user.avatar %}
            <img src="{{ reply.user.avatar.url }}" class="reply-avatar">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" class="reply-avatar">
            {% endif %}
        </a>
        <div>
            <div>
                <a href="{% url 'user' reply.user %}" class="user-link">
                    <strong>{{ reply.user.display_name }}</strong>
                    {% if reply.user.verified %}
                    <i class="fa-solid fa-square-check verified"></i>
                    {% endif %}
                    ~{{ reply.user }}
                </a>
            </div>
            <span class="reply-date">{{ reply.date | date:'M d, Y' }}</span>
        </div>
    </div> 
    <!-- Reply user and date info ends -->
    <!-- Reply bubble -->
    <div class="reply">
        {{ reply.reply }}
        <!-- Reply menu -->
        <div class="btn-group dropup reply-menu">
            <button class="btn btn-sm post-menu-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                {% if request.user == reply.user %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-pen-to-square"></i> Edit (NYI)
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-trash"></i> Delete (NYI)
                    </a>
                </li>
                {% endif %}
                {% if request.user == post.user and request.user != reply.user %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-eye-slash"></i> Hide (NYI)
                    </a>
                </li>
                {% endif %}
                {% if request.user != reply.user %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-triangle-exclamation"></i> Report (NYI)
                    </a>
                </li>
                {% endif %}
                <li>
                    <span class="dropdown-item"><i class="fa-solid fa-link"></i> Permalink (NYI)</span>
                </li>
            </ul>
        </div>
        <!-- Reply menu ends -->
    </div>
    <!-- Reply bubble ends -->
</div>
{% endfor %}
{% else %}
<p>This post has no replies.</p>
{% endif %}
<!-- Replies end -->
{% endblock %}

{% block rightsidebar %}
Right block
{% endblock %}