{% extends 'base.html' %}
{% load static %}

{% block title %}
Post: {{ post.id }}
{% endblock %}

{% block content %}
<!-- Post -->
<div class="card post-card">
    <div class="card-body">
        <div class="row">
            <div class="col-1 avatar-col">
                <!-- Post author avatar -->
                <a href="{% url 'user' post.user %}">
                    {% if post.user.avatar %}
                    <img src="{{ post.user.avatar.url }}" class="post-avatar">
                    {% else %}
                    <img src="{% static 'images/avatar.jpg' %}" class="post-avatar">
                    {% endif %}
                </a>
                <!-- Post author avatar ends -->
            </div>
            <div class="col-11 post-col">
                <!-- Post author and date -->
                <div class="post-header">
                    <a href="{% url 'user' post.user %}" class="user-link">
                        <strong>{{ post.user.display_name }}</strong>
                        {% if post.user.verified %}
                        <i class="fa-solid fa-square-check verified"></i>
                        {% endif %}
                        <span>~{{ post.user }}</span>
                    </a>
                    <span> · <a href="{% url 'post' post.id %}" class="post-permalink">{{ post.date | date:'M d, Y' }}</a></span>
                </div>
                <!-- Post author and date ends -->
                <!-- Post body, image and link -->
                <p>{{ post.post | linebreaksbr }}</p>
                {% if post.link %}
                <p><i class="fa-solid fa-link"></i> <a href="{{ post.link }}" class="post-link">{{ post.link }}</a></p>
                {% endif %}
                {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img">
                {% endif %}
                <!-- Post body, image and link ends -->
            </div>
        </div>
    </div>    
    <!-- Post footer -->
    <div class="card-footer">
        <!-- Reply -->
        <span><i class="fa-regular fa-comment"></i> 23</span>
        <!-- Reply ends -->
        <!-- Like -->
        <span><i class="fa-regular fa-heart"></i> 5,234</span>
        <!-- Like ends -->
        <!-- Repost -->
        <span><i class="fa-solid fa-retweet"></i> 107</span>
        <!-- Repost ends -->
        <!-- Footer menu -->
        <div class="btn-group dropup">
            <button class="btn btn-sm post-menu-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                {% if request.user == post.user %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-pen-to-square"></i> Edit (NYI)
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-trash"></i> Delete (NYI)
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-triangle-exclamation"></i> Report (NYI)
                    </a>
                </li>
                <li>
                    <span class="dropdown-item"><i class="fa-solid fa-user"></i> Follow (NYI)</span>
                </li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="{% url 'post' post.id %}">
                        <i class="fa-solid fa-link"></i> Permalink
                    </a>
                </li>
            </ul>
        </div>
        <!-- Footer menu ends -->
    </div>
    <!-- Post footer ends -->
</div>
<!-- Post end -->
<!-- Replies -->
{% if request.user.is_authenticated %}
{% else %}
<p><a href="{% url 'login' %}">Login</a> if you want to reply to this post.</p>
{% endif %}
{% if replies %}
{% for reply in replies %}
<div class="reply-container">
    <!-- Reply user and date info -->
    <div class="reply-header">
        <a href="{% url 'user' reply.user %}">
            {% if reply.user.avatar %}
            <img src="{{ reply.user.avatar.url }}" class="reply-avatar">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" class="reply-avatar">
            {% endif %}
        </a>
        <div>
            <div>
                <a href="{% url 'user' reply.user %}" class="user-link">
                    <strong>{{ reply.user.display_name }}</strong>
                    {% if reply.user.verified %}
                    <i class="fa-solid fa-square-check verified"></i>
                    {% endif %}
                    ~{{ reply.user }}
                </a>
            </div>
            <span class="reply-date">{{ reply.date | date:'M d, Y' }}</span>
        </div>
    </div> 
    <!-- Reply user and date info ends -->
    <!-- Reply bubble -->
    <div class="reply">
        {{ reply.reply }}
        <!-- Reply menu -->
        <div class="btn-group dropup reply-menu">
            <button class="btn btn-sm post-menu-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                {% if request.user == reply.user %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-pen-to-square"></i> Edit (NYI)
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-trash"></i> Delete (NYI)
                    </a>
                </li>
                {% endif %}
                {% if request.user == post.user and request.user != reply.user %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-eye-slash"></i> Hide (NYI)
                    </a>
                </li>
                {% endif %}
                {% if request.user != reply.user %}
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-triangle-exclamation"></i> Report (NYI)
                    </a>
                </li>
                {% endif %}
                <li>
                    <span class="dropdown-item"><i class="fa-solid fa-link"></i> Permalink (NYI)</span>
                </li>
            </ul>
        </div>
        <!-- Reply menu ends -->
    </div>
    <!-- Reply bubble ends -->
</div>
{% endfor %}
{% else %}
<p>This post has no replies.</p>
{% endif %}
<!-- Replies end -->
{% endblock %}

{% block rightsidebar %}
Right block
{% endblock %}