{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Post: {{ post.id }}
{% endblock %}

{% block content %}
{% include 'post-template.html' %}
<!-- Replies -->
{% if replies %}
    {% for reply in replies %}
        {% if reply.user == request.user and reply.hidden %}
            {% include 'reply-template.html' %}
        {% endif %}
        {% if reply.hidden == False %}
            {% include 'reply-template.html' %}
        {% endif %}
    {% endfor %}
{% else %}
    <div class="alert alert-light" role="alert">
        This post has no replies.
    </div>
{% endif %}
<!-- Replies end -->
{% endblock %}

{% block rightsidebar %}
{% if request.user.is_authenticated %}
<div class="reply-container">
    <!-- Reply form -->
    <form method="POST" class="reply-form">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-dark" type="submit">Reply</button>
    </form>     
    <!-- Reply form ends -->
</div>   
{% else %}
<p><a href="{% url 'login' %}">Login</a> if you want to reply to this post.</p>
{% endif %}
{% endblock %}