{% load static %}
<!-- Hide reply modal -->
<div class="modal fade" id="hideReply{{ reply.id}}Modal" tabindex="-1" aria-labelledby="hideReply{{ reply.id}}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="hideReply{{ reply.id }}ModalLabel">Hide Reply</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to hide this reply from other users?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a href="{% url 'hide_reply' reply.id %}"><button type="button" class="btn btn-danger">Yes</button></a>
            </div>
        </div>
    </div>
</div>
<!-- Hide reply modal ends -->
<div class="reply-container">
    <!-- Reply user and date info -->
    <div class="reply-header">
        <a href="{% url 'user' reply.user %}">
            {% if reply.user.avatar %}
            <img src="{{ reply.user.avatar.url }}" class="avatar-small">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" class="avatar-small">
            {% endif %}
        </a>
        <div>
            <div>
                <a href="{% url 'user' reply.user %}" class="user-link">
                    <strong>{{ reply.user.name }}</strong>
                    {% if reply.user.verified %}
                    <i class="fa-solid fa-square-check verified"></i>
                    {% endif %}
                    ~{{ reply.user }}
                </a>
            </div>
            <span class="small-span">{{ reply.date | date:'M d, Y' }}</span>
        </div>
    </div> 
    <!-- Reply user and date info ends -->
    <!-- Reply bubble -->
    <div class="reply">
        {% if reply.hidden %}
        <div class="alert alert-danger" role="alert">
            This reply has been hidden by ~{{ post.user }}.
        </div>
        {% endif %}
        <span class="post-reply-body">{{ reply.reply }}</span>
        <!-- Reply buttons -->
        <div class="reply-menu">
            {% if request.user == post.user and request.user != reply.user %}
            <button type="button" class="hide-btn" data-bs-toggle="modal" data-bs-target="#hideReply{{ reply.id }}Modal">
                <i class="fa-solid fa-eye-slash"></i>
            </button>
            {% endif %}
            {% if request.user == reply.user %}
            <a href="{% url 'edit_reply' reply.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            {% endif %}
        </div>
        <!-- Reply buttons -->
    </div>
    <!-- Reply bubble ends -->
</div>