{% extends 'base.html' %}
{% load static %}

{% block title %}
Search Results
{% endblock %}

{% block content %}
<h2>Search results for {{ query }}</h2>
<hr>
<!-- Search navigation -->
<ul class="nav nav-pills mb-3" id="search-pills-tab" role="tablist">
    {% if users.count > 0 %}
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users"
            type="button" role="tab" aria-controls="pills-users" aria-selected="true">Users <span class="badge text-bg-danger">{{ users.count }}</span></button>
    </li>
    {% endif %}
    {% if posts.count > 0 %}
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-posts-tab" data-bs-toggle="pill" data-bs-target="#pills-posts"
            type="button" role="tab" aria-controls="pills-posts" aria-selected="false">Posts <span class="badge text-bg-danger">{{ posts.count }}</span></button>
    </li>
    {% endif %}
    {% if replies.count > 0 %}
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-replies-tab" data-bs-toggle="pill" data-bs-target="#pills-replies"
            type="button" role="tab" aria-controls="pills-replies" aria-selected="false">Replies <span class="badge text-bg-danger">{{ replies.count }}</span></button>
    </li>
    {% endif %}
</ul>
<!-- Search navigation ends -->
<div class="tab-content" id="pills-tabContent">
    <!-- Results - users -->
    <div class="tab-pane fade show active" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" tabindex="0">
        {% for user in users %}
        <!-- User profile card -->
        <a href="{% url 'user' user %}">
            <div class="card user-card">
                {% if user.profile_background %}
                <img src="{{ user.profile_background.url }}" class="card-img-top user-background">
                {% else %}
                <div class="user-background"></div>
                {% endif %}
                <div class="user-search-container">
                    {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" class="avatar-search">
                    {% else %}
                    <img src="{% static 'images/avatar.jpg' %}" class="avatar-search">
                    {% endif %}
                    <div class="user-search-text">
                        ~{{ user }}<br>
                        <strong>
                            {{ user.name }}
                            {% if user.verified %}
                            <i class="fa-solid fa-square-check verified"></i>
                            {% endif %}
                        </strong>
                    </div>
                </div>
            </div>
        </a>
        <!-- User profile card ends -->
        {% endfor %}
    </div>
    <!-- Results - users ends -->
    <!-- Results - posts -->
    <div class="tab-pane fade" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab" tabindex="0">
        {% for post in posts %}
        {% include 'post-template.html' %}
        {% endfor %}
    </div>
    <!-- Results - posts ends -->
    <!-- Results - replies -->
    <div class="tab-pane fade" id="pills-replies" role="tabpanel" aria-labelledby="pills-replies-tab" tabindex="0">
        {% for reply in replies %}
        {% include 'reply-template.html' %}
        {% endfor %}
    </div>
    <!-- Results - replies ends -->
</div>
{% endblock %}