{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ user }}
{% endblock %}

{% block content %}
<!-- User profile card -->
<div class="card user-card">
    {% if user.profile_background %}
    <img src="{{ user.profile_background.url }}" class="card-img-top user-background">
    {% else %}
    <div class="user-background"></div>
    {% endif %}
    {% if user.avatar %}
    <img src="{{ user.avatar.url }}" class="avatar-xl">
    {% else %}
    <img src="{% static 'images/avatar.jpg' %}" class="avatar-xl">
    {% endif %}
    <div class="card-body user-buttons">
        {% if request.user == user %}
        <a href="{% url 'edit_profile' request.user.id %}" class="btn btn-dark">Edit Profile</a>
        {% else %}
        <a href="{% url 'follow' user %}" id="follow-btn" class="btn btn-dark">
            {% if following %}
            Following
            {% else %}
            Follow
            {% endif %}
        </a>
        <a href="{% url 'send_message' user.id %}" class="btn btn-dark">Message</a>
        {% endif %}
    </div>
    <div class="card-body">
        <h4 class="card-title">
            {{ user.name }}
            {% if user.verified %}
            <i class="fa-solid fa-square-check verified"></i>
            {% endif %}
        </h4>
        <p class="text-muted">~{{ user }}</p>
        {% if user.about %}
        <p class="card-text post-body">{{ user.about }}</p>
        {% endif %}
        {% if user.website %}
        <p><i class="fa-solid fa-link"></i> <a href="{{ user.website }}" class="post-link">{{ user.website }}</a></p>
        {% endif %}
    </div>
    <div class="card-footer">
        <span><strong>{{ user.followers_count }}</strong>
            {% if user.followers_count != 1 %}
            Followers
            {% else %}
            Follower
            {% endif %}
        </span>
        <span><strong>{{ user.following_count }}</strong> Following</span>
        <span><strong>{{ post_count }}</strong>
            {% if post_count != 1 %}
            Posts
            {% else %}
            Post
            {% endif %}
        </span>
    </div>
</div>
<!-- User profile card ends -->
{% for post in page_obj %}
{% include 'post-template.html' %}
{% endfor %}
<!-- Page navigation -->
{% if post_count == 0 %}
<div class="alert alert-secondary" role="alert">
    ~{{ user }} has not posted yet.
</div>
{% else %}
<div class="alert alert-secondary page-nav" role="alert">    
    <span>
        {% if page_obj.has_previous %}
        <a href="?page=1" class="alert-link"><i class="fa-solid fa-backward-step"></i></a>
        <a href="?page={{ page_obj.previous_page_number }}" class="alert-link"><i class="fa-solid fa-backward"></i></a>
        {% endif %}
    </span>    
    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    <span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="alert-link"><i class="fa-sharp fa-solid fa-forward"></i></a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="alert-link"><i class="fa-solid fa-forward-step"></i></a>    
        {% endif %}
    </span>
</div>
{% endif %}
<!-- Page navigation ends -->
{% endblock %}

{% block rightsidebar %}
{% include 'hashtags-side-template.html' %}
{% include 'users-side-template.html' %}
{% endblock %}